<!DOCTYPE html>
<html lang="en">
    <body class="container">
        <main>
            <div class="jumbotron">
                <p>
                    <strong>Cost Of All Orders: </strong>
                    <%= sumOf %>$
                </p>
                <ul>
                    <% Object.entries(items).forEach(([key,value]) => {%>
                    <li>
                        <strong><%= `${key}: ${value}$` %></strong>
                    </li>
                    <% }); %>
                </ul>
                <p><a class="nav-link" href="/">HOME</a></p>
            </div>
        </main>
    </body>
</html>
